<div class="container">
  <div class="login-container">

    <div class="logo-container">
      <a [routerLink]="['/home']">
        <img alt="Company Logo" class="logo" height="425" ngSrc="assets/logo.png" width="1235">
      </a>
    </div>

    <h1>New password request</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordRequestForm">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input autocomplete="username" formControlName="username" matInput placeholder="Enter your username"
               type="text">
      </mat-form-field>

      <button [disabled]="passwordRequestForm.invalid" color="primary" mat-raised-button type="submit">
        <span>Submit password request</span>
      </button>
    </form>
  </div>
</div>
