
.toolbar-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

/* Add this for bold table headers */
th.mat-header-cell {
  font-weight: bold;
}

.mat-row:hover {
  background-color: rgb(0 0 0 / 4%);
}

/* This class is unused and can be removed */
.table-actions {
  display: flex;
  justify-content: flex-start;
  margin: 16px 0;
}

.no-data {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: rgb(0 0 0 / 54%);
}

.search-container {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
  position: relative;
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.search-icon {
  color: gray;
  margin-right: 5px;
}

input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

/* Add this for the clear button */
.clear-search {
  cursor: pointer;
  color: gray;
}
