<div class="page container">
  <div class="button-container">
    <button (click)="navigateTo('products')" class="nav-button">Products</button>
    <button (click)="navigateTo('test')" class="nav-button">Just a Test</button>
    <button (click)="logout()" class="nav-button logout-button">Logout</button>
  </div>

  <div class="button-container user-info">
    Welcome, {{ username }}!
  </div>

  <div class="image-grid">
    <img alt="Logo Image" class="grid-image image2" height="425" ngSrc="assets/logo.png" width="1235">
  </div>
</div>
