.tabs {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin-top: 1em;
}

.active-link {
  background-color: #d3d3d3;
  color: #333 !important;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
}

a:hover,
a:active {
  color: #333;
}

a.active-link {
  background-color: #d3d3d3 !important;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

#a {
  display: inline;
}

#a li {
  display: inline;
}

mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  padding: 5px 0;
}

mat-toolbar {
  background-color: #fff;
  width: 100%;
  color: #333;

  /* Dark grey text color */
}


.nav-links-center {
  display: flex;
  justify-content: center;

  /* Center the links horizontally */
  align-items: center;

  /* Center the links vertically */
  width: 100%;
}

.gs-logo {
  height: 50px;

  /* Increase the size */
  border-radius: 10%;
}

.gs-logo-link {
  position: absolute;
  right: 10px;
}


mat-sidenav-container {
  min-height: 95%;
}

.home-link {
  display: none;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.dev-mode {
  color: darkblue;;
}

.warning {
  background-color: red;
}
