<div class="container">
  <div class="login-container">

    <div class="logo-container">
      <a [routerLink]="['/home']">
        <img alt="Company Logo" class="logo" height="425" ngSrc="assets/logo.png" width="1235">
      </a>
    </div>

    <h1>New password</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm">

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input autocomplete="current-password" formControlName="password" matInput placeholder="Enter your password"
               type="password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Re-enter your password</mat-label>
        <input autocomplete="current-password" formControlName="confirmPassword" matInput
               placeholder="Enter your password"
               type="password">
      </mat-form-field>

      <div
        *ngIf="passwordResetForm.get('password') && passwordResetForm.get('password')?.errors?.['minlength']"
        class="error">
        Your password needs to have at least 5 characters.
      </div>

      <div
        *ngIf="passwordResetForm.get('password') && passwordResetForm.get('password')?.errors?.['noSpecialCharacter']"
        class="error">
        Your password needs to contain at least one special character: {{ '[!@#$%^&*(),.?":{}|<>]' }}
      </div>

      <div *ngIf="mismatchedPassword" class="error">
        The 2 entries do not match.
      </div>

      <button [disabled]="passwordResetForm.invalid" color="primary" mat-raised-button type="submit">
        <span>Submit new password</span>
      </button>
    </form>
  </div>
</div>
