@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  width: max-content;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (width >= 768px) {
  body {
    width: 100%;
  }
}

a,
a:visited {
  color: blue;
}

a:hover {
  color: lightblue;

  /* Same color as unvisited and visited */
}

.error-snackbar {
  --mdc-snackbar-supporting-text-color: #A66;
  --mat-snack-bar-button-color: #A66;
  --mdc-snackbar-container-color: #FEE;
}

.success-snackbar {
  --mdc-snackbar-supporting-text-color: #9a9;
  --mat-snack-bar-button-color: #9A9;
  --mdc-snackbar-container-color: #EFE;
}

.warning-snackbar {
  --mdc-snackbar-supporting-text-color: #C9971C;
  --mat-snack-bar-button-color: #C9971C;
  --mdc-snackbar-container-color: #FDF7DF;
}

.info-snackbar {
  --mdc-snackbar-supporting-text-color: #9AA;
  --mat-snack-bar-button-color: #9AA;
  --mdc-snackbar-container-color: #EFF;
}

.text-align-center {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  background-color: #f5f5f5;
  flex: 1;
}

.main-card {
  width: 100%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

th.mat-mdc-header-cell {
  font-weight: bold;
}
